.admin-page-container {
    padding: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-page-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.admin-table {
    margin-bottom: 20px;
    border: 2px solid burlywood;
    border-radius: 5px;
    overflow: hidden;
}

.admin-table h2 {
    background-color: aliceblue;
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid burlywood;
    font-size: 1.5rem;
}

.admin-table table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.admin-table th {
    background-color: aliceblue;
    font-size: 1rem;
    color: #333;
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
    background-color: sandybrown;
    color: white;
}

.admin-table button {
    padding: 5px 10px;
    background-color: lightgoldenrodyellow;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-table button:hover {
    background-color: sandybrown;
    color: white;
}
