.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem; /* Match h2 size on profile page */
    color: #333; /* Consistent text color */
}

.posts-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Limit width and center it */
    background-color: aliceblue; /* Light background for container */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theme-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: aliceblue;
}

.btn-theme {
    display: inline-block;
    padding: 10px;
    background-color: lightgoldenrodyellow; /* Button color */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-theme:last-child {
    margin-right: 0;
}

.btn-theme:hover {
    background-color: sandybrown; /* Hover effect */
}
