nav {
    background-color: beige;
    height: 50px;
    display: flex;
    justify-content: space-between; /* Ensures space distribution between elements */
    align-items: center; /* Aligns items vertically in the center */
    padding: 0 10px;
}

nav ul {
    display: flex;
    flex-grow: 1; /* Takes up all available space */
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a, nav ul li button.nav-link {
    text-decoration: none;
    color: black;
    background: none;
    border: 1px solid red;
    padding: 5px;
    transition: color 0.3s;
    cursor: pointer;
}

nav ul li a:hover, nav ul li button.nav-link:hover {
    color: #00f;
}

button.nav-link {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}