.post {
    background-color: lightgoldenrodyellow;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Increase width */
    max-width: none; /* Remove max-width constraint */
    display: flex;
    flex-direction: column;
}

.post-header {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-author {
    font-style: italic;
}

.post-body {
    border: 1px solid burlywood;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.post-content {
    margin: 0;
}

.post-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.post button {
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.post button:last-child {
    margin-right: 0;
}

.post button:hover {
    background-color: sandybrown;
    color: lightgoldenrodyellow;
}

.create-comment {
    padding: 10px;
    width: 100%;
}

.create-comment textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding: 8px;
}

.create-comment button {
    background-color: burlywood;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-comment button:hover {
    background-color: sandybrown;
}